<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="age">Address:</label>
      <input formControlName="address" placeholder="address" name="address" class="form-control" id="address">
    </div>

    <div class="form-group">
      <label for="salary">City:</label>
      <input formControlName="city" placeholder="city" name="city" class="form-control" id="city">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
